@import './colors.scss';

html,
body,
#root {
  color: $font-color;
  height: 100%;
}

button {
  cursor: pointer;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $app-background;
}

.container {
  max-width: 700px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.body-container {
  flex: 1;
  width: 100%;
  box-sizing: content-box;
  margin-top: 2em;
  background-color: $body-background;
}
