.address-details-container {
  margin-top: 2em;

  h4, p {
    margin: 0.6em 0;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
  }

  a {
    margin-left: 0.5em;
  }

  span {
    margin-right: 0.2em;
  }
}
