.header-container {
  .locale-selector-container.subheader {
    padding: 0 32px;
  }

  .icon span {
    position: relative;
    top: 8px;
  }

  .brand-logo {
    left: 10px;
    transform: translateX(10px);
  }

  #nav-mobile {
    display: block !important;
  }

  .sidenav .divider {
    margin: 0;
  }
}

@media only screen and (max-width: 440px) {
  .header-container {
    #nav-mobile {
      display: none !important;
    }

    .brand-logo {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media only screen and (min-width: 441px) {
  .header-container {
    .sidenav-trigger {
      display: none;
    }
  }
}
