.user-create-page-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;

  .create-form-container {
    button {
      padding: 8px 20px;
      border-radius: 4px;
      font-size: 1em;
      border: 1px solid #ccc;

      &.red {
        color: #fff;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    section {
      margin: 10px 0;
    }

    span {
      font-weight: bold;
    }

    select {
      display: block;
      border-color: #ccc;
      margin-top: 10px;
      box-sizing: border-box;

      &[multiple] {
        height: 6rem;
      }
    }

    .button-section {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
