@import './colors.scss';

.places-container {
  padding: 1em;
  box-sizing: border-box;

  h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
    word-break: break-all;
  }
}
