@import './colors.scss';

.places-container {
  padding: 1em;
  box-sizing: border-box;

  p {
    font-size: 1em;
    margin: 1em 0;
  }

  .select-box {
    margin-bottom: 1em;

    div[class *= 'menu'] {
      z-index: 99999;
    }
  }
}
