.choropleth-map-container {
  // height: 560px;

  // svg {
  //   transform: scale(2);
  //   transform-origin: top;
  //   height: 300px;
  // }

  .gradient-container {
    .gradient {
      display: flex;
      justify-content: space-between;
    }

    .box {
      width: 180px;
      margin: auto;
    }

    .mt-10 {
      margin-top: 10px;
    }
  }
}
