.choropleth-map-container {
  .gradient-container {
    .gradient {
      display: flex;
      justify-content: space-between;
    }

    .box {
      width: 180px;
      margin: auto;
      font-weight: bold;
      font-size: 0.8em;
    }
  }
}
