@import './colors.scss';

.user-details-container {
  section {
    margin: 10px 0;

    &:not(:first-child) {
      border-top: 2px solid $row-border;
    }
  }

  .profile {
    display: flex;
    align-items: flex-start;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .package-container,
  .addons-container {
    h2 {
      font-size: 1.4em;
      font-weight: bold;
    }

    p {
      margin: 5px 0;
    }

    h3 {
      font-size: 1.1em;
      font-weight: bold;
    }

    .sub-container {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      img {
        width: 62px;
        height: 62px;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
        padding: 10px;
      }
    }
  }
}
