$up-backcolor: rgba(225, 0, 0, .2);
$up-bordercolor: #ad1111;
$down-backcolor: rgba(22, 175, 73, .3);
$down-bordercolor: #16af49;
$same-backcolor: rgba(242, 233, 135, .2);
$same-bordercolor: #e58d30;
$alternate-font-color: #fff;
$shadowcolor: rgba(0,0,0,0.4);
