@import './colors.scss';

.state-report-container {
  margin-top: 1em;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      padding: 0.5em;
      max-width: 200px;

      h3 {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 0;
        word-wrap: break-word;
      }

      .italics {
        font-size: 0.8em;
        margin: 0.5em 0;
      }
    }
  }
}
