.state-report-container {
  h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1em;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid #9e9e9e;
      }

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 0;
      }

      .italics {
        font-size: 0.9em;
        margin: 0.5em 0;
      }
    }
  }
}
