@import './colors.scss';

.state-report-container {
  margin-top: 1em;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1em;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $row-bordercolor;
      }

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 0;
      }

      .italics {
        font-size: 0.9em;
        margin: 0.5em 0;
      }
    }
  }
}
